<ion-view style="" title="Bruce Ingalls">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
<style type=text/css>
/*<![CDATA[*/
.bg {background:#F3F3FF;}
.clear{clear:both;}
.exp{margin-left:1.5rem;}
.small{font-variant:small-caps;}
abbr.latitude, abbr.longitude{border:0 none;}
address.dmid{float:left;font-weight:bold;text-align:center;width:36%;}
address.head{float:right;font-size:20px;padding:0.5rem 0.8rem 0 1.5rem;}
address.sright{float:left;width:8.4em;}
body{font:16px verdana,arial,sans-serif;} /*Ensure 16px default*/
div.abstract{float:left;font-weight:900;}
div.accomp{color:#000;float:left;margin-bottom:0.25em;text-align:justify;text-decoration:none;vertical-align:text-bottom;}
div.accompKey{clear:both;float:left;font-weight:900;margin:0 0.8em 0 0;width:7.2em;}
div.datesRight{float:right;text-align:right;width:25%;}
div.dleft{float:left;font-weight:bold;text-align:left;width:39%;}
div.eduLeft{float:left;width:20em;}
div.eduMid{float:left;width:14em;}
div.head-left{float:left;}
div.head-right{float:right; padding:0.5em 0;}
div.key{text-align:left;vertical-align:middle;}
div.name{float:left;font-size:xx-large;font-weight:900;}
div.section{border-top:1px solid #000;text-align:center;vertical-align:middle;width:100%;}
div.skill{color:#000;float:left;margin:0 0 0.25em 0.5em;text-align:justify;text-decoration:none;vertical-align:text-bottom;min-width:75%;}
div.skillKey{float:left;font-weight:900;margin:0;width:6.1rem;}
dl{margin-top:0.2em;}
h2{text-transform:uppercase;margin-bottom:0.2rem;}
ol.vcalendar{list-style-type:none;padding:0;}
section.colm{float:left;margin:0 0 0 0.4em;}
span.dtstart{font-weight:bold;}
span.dtend{font-weight:bold;}
span.year{font-weight:100;padding-right:1rem;}
strong.hilite{color:#006;}
ul.exp{list-style-type:disc;margin-left:-0rem;padding-left:0;}
ul.contrib{margin:0 -0.5rem;}
/*]]>*/
</style>
    <div id="bruce-resume" class="hresume">
      <div id="contact" class="vcard">
        <div class="head-left">
          <div class="fn n name">
            <span class="given-name">Bruce</span>
            <span class="family-name">Ingalls</span>
          </div>
          <address class="adr geo head">
            <strong>
              <span class="locality">
                <abbr class="latitude" title="40.75">
                  <!--Condensed space prevents wrapping-->
                  New&#160;York</abbr></span>,&#160;<span
                class="region"><abbr class="longitude" title="-73.98">NY
                </abbr>
              </span>
            </strong>
          </address>
          <div><br /></div>
          <div class="abstract title">
            Full Stack Developer of 10+ Years
          </div>
        </div>

        <div class="head-right">
          <div id="mailParent"> <!--anti-spam hack-->
            <div id="mailChild">bruce.ingalls(at)gmail&#46;com</div>
          </div>
          <a class="url" href="http://premierpilatesandyoga.us/bruce/"
             >http://premierpilatesandyoga.us/bruce/</a>
        </div>
      </div><!--head right-->

      <br class="clear"><br>

      <section class="colm">
        <div class="skillKey">Languages</div>
        <div class="skill">C++, C#, Java, JavaScript, Perl, PHP, Sass, TypeScript</div>
        <br />
        <div class="skillKey">API</div>
        <div class="skill">author of GrahphQL & ReST APIs</div>
        <br />
        <div class="skillKey">AWS</div>
        <div class="skill">Aurora, Cloudfront, DynamoDB, EC2, RDS, S3</div>
        <br />
        <div class="skillKey">Database</div>
        <div class="skill">DBA &amp; ETL of MySQL &amp; other SQL. Mongo, Redis</div>
        <br />
      </section>

      <section class="colm">
        <div class="skillKey">Dev Ops</div>
        <div class="skill">Ansible, Docker, Git, Nginx, Redis, Vagrant</div>
        <br />
        <div class="skillKey">JavaScript</div>
        <div class="skill">Angular/Ionic, jQuery, Meteor, Node.js, React, Vue</div>
        <br />
        <div class="skillKey">Web</div>
        <div class="skill">Apache. Laravel, Nginx, PHP 7</div>
        <br />
      </section>
      <br class="clear" />

      <h2>Accomplishments</h2>

      <section class="colm">
        <div class="accompKey">Architecture</div>
        <div class="accomp">
          Reactive Single Page App, scaled for updates within seconds
        </div>

        <div class="accompKey">Back End</div>
        <div class="accomp">Performance optimization &amp; multi-layer caching</div>

        <div class="accompKey">Front End</div>
        <div class="accomp">
          Mobile-first Ionic over ReST API. CSS framework alpha adopter
        </div>

        <div class="accompKey">Open Source</div>
        <div class="accomp">Created Ubuntu JDK installer; code shipping with Linux</div>
      </section>

      <br class="clear" />
      <h2>Experience</h2>

      <ol class="vcalendar">

        <li class="vevent">
          <div class="bg section">
            <div class="vcard">
              <div class="bg dleft fn org">Exenta</div>
              <address class="adr bg dmid geo">
                <span class="locality">
                  <abbr class="latitude" title='40.7377'>
                    New York
                  </abbr>
                </span>,
                <span class="region">
                  <abbr class="longitude" title='-73.9877'>
                    NY
                  </abbr>
                </span>
              </address>
            </div>
            <div class="bg datesRight"><span class="year">1 year</span>
              <span class="dtstart">2019</span>
              <!-- - <span class="dtend">Now</span> -->
            </div>
            <br class="clear" />
            <div class="bg key summary title">Developer: PLM Product Lifecycle Management</div>
          </div>
          <dl class="clear">
            <dt class="small">Environment</dt>
            <dd class="exp">Laravel PHP 7, Bootstrap, Docker</dd>
            <dt class="small">Experience</dt>
            <dd class="exp">
              Exenta brought me on, to communicate between our onsite product manager and our remote consultants.
            </dd>
            <dd class="exp">
              I helped <strong class="hilite">triple testing speeds</strong>, keeping delivery cycles faster than other
              departments.
            </dd>
          </dl>
        </li>

        <li class="vevent">
          <div class="bg section">
            <div class="vcard">
              <div class="bg dleft fn org">Ingalls Consulting Co</div>
              <address class="adr bg dmid geo">
                <span class="locality">
                  <abbr class="latitude" title='40.7377'>
                    New York
                  </abbr>
                </span>,
                <span class="region">
                  <abbr class="longitude" title='-73.9877'>
                    NY
                  </abbr>
                </span>
              </address>
            </div>
            <div class="bg datesRight"><span class="year">6 years</span>
              <span class="dtstart">2012</span>
              - <span class="dtend">2018</span>
            </div>
            <br class="clear" />
          </div>
          <div>Major Clients</div>
          <table>
            <tr>
              <td class="small">Helix</td><td>Laravel PHP 7, Vue JS, CasperJS</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  This online mattress store needed reliability. As a senior lead, I introduced <strong
                  class="hilite">git-flow</strong>, staging &amp; pull requests.
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  I overcame the challenge of lack of unit testability, by creating static analysis &amp; e2e tests.
                </div>
              </td>
            </tr>

            <tr>
              <td class="small">Consumer Reports</td><td>Laravel PHP, React JS, TypeScript</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  For the second biggest magazine in the USA, I helped lead developers &amp; coordinate
                  with devops to deliver a fresh UX, maximizing reliability &amp; performance. Environments
                  were deployed with <strong class="hilite">Vagrant &amp; Ansible</strong>.
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  Reliablity introduced TypeScript safety, Phpunit mocks, and Bamboo <strong class="hilite">
                  Continuous Integration</strong>.
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  Performance introduced Webpack, React JS &amp; enterprise <strong class="hilite">Varnish &amp;
                  Redis</strong> caching.
                </div>
              </td>
            </tr>

            <tr>
              <td class="small">Purveyor</td><td>Angular, Ionic mobile framework &amp; PHP Laravel / ReST</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  Purveyor was kicking off a new market with a friendly mobile site, before PWA became a buzzword.
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  Work in evolving tech of <strong class="hilite">Ionic, JWT, CORS &amp; OAuth</strong> made this possible.
                  Set up Redmine project tracking.
                </div>
              </td>
            </tr>

            <tr>
              <td class="small">Play Sports Live</td><td>Nginx, MeteorJS &amp; MongoDB</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  Play Sports needed a clean UX for gamers on a tight schedule, and at scale.
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  Choosing new MeteorJS tech with a Nginx reverse proxy &amp; servers that launch in seconds made this happen.
                </div>
              </td>
            </tr>

            <tr>
              <td class="small">Pearson Publishing</td><td>Linux, Apache, MySQL, PHP, MooTools, Git</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  This M&A financial Document Management System needed communication onsite, to connect remote consultants.
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="exp">
                  Beyond soft skills, tech like <strong class="hilite">Jenkins</strong> CI provided visibility to management.
                  Introduced performance tuning.
                </div>
              </td>
            </tr>
          </table>
          <div>&#160;</div>
        </li>

        <li class="vevent">
          <div class="bg section">
            <div class="vcard">
              <div class="bg dleft fn org">Cantor Fitzgerald</div>
              <address class="adr bg dmid geo">
                <span class="locality">
                  <abbr class="latitude" title='40.7377'>
                    New York
                  </abbr>
                </span>,
                <span class="region">
                  <abbr class="longitude" title='-73.9877'>
                    NY
                  </abbr>
                </span>
              </address>
            </div>
            <div class="bg datesRight"><span class="year">2 years</span>
              <span class="dtstart">2009</span> -
              <span class="dtend">2011</span>
            </div>
            <br class="clear" />
            <div class="bg key summary title">Developer: E-commerce website</div>
          </div>
          <dl class="clear">
            <dt class="small">Environment</dt>
            <dd class="exp">
              LAMP, Native PHP jQuery, Web Services
            </dd>
            <dt class="small">Experience</dt>
            <dd class="exp">
              The challenge to modernize 10 year old code for online food deliveries started with MVC design patterns.
            </dd>
            <dd class="exp">
              Before Bootstrap existed, I innovated a <strong class="hilite">CSS framework</strong>, nearly predicting a
              responsive redesign.
            </dd>
            <dd class="exp">
              Database optimization &amp; Kcachegrind performance. Added <strong class="hilite">ReST APIs</strong>:
                Authorize.net, StrikeIron, Noaa weather.
            </dd>
          </dl>
          <div>&#160;</div>
        </li>

        <li class="vevent">
          <div class="bg section">
            <div class="vcard">
              <div class="bg dleft fn org">Adotube</div>
              <address class="adr bg dmid geo">
                <span class="locality">
                  <abbr class="latitude" title='40.7377'>New York</abbr>
                </span>,
                <span class="region">
                  <abbr class="longitude" title='-73.9877'>NY</abbr>
                </span>
              </address>
            </div>
            <div class="bg datesRight"><span class="year">1 year</span>
              <span class="dtstart">2008</span></div>
            <br class="clear" />
            <div class="bg key summary title">
              Consultant: Web video advertising
            </div>
          </div>
          <dl class="clear">
            <dt class="small">Environment</dt>
            <dd class="exp">Linux, Apache, MySQL, PHP, PhpUnit</dd>
            <dt class="small">Experience</dt>
            <dd class="exp">
              Adotube's need for growth was met with integrating ReST APIs like Shopping.com and <strong
                class="hilite">Amazon AWS &amp; S3</strong>.
            </dd>
            <dd class="exp">
              Embedded Adobe Flash advertising into the new web video market.
            </dd>
          </dl>
        </li>
      </ol>

      <h2>Education</h2>
      <div class="vcard">
        <div class="fn eduLeft">
          <strong class="org">Rochester Institute Of Technology</strong>
        </div>
        <div class="eduMid title">Computer Science</div>
        <address class="adr geo sright">
          <strong>
            <span class="locality">
              <abbr class="latitude" title='43.08'>Rochester</abbr>
            </span>,
            <span class="region">
              <abbr class="longitude" title='-77.67'>NY</abbr>
            </span>
          </strong>
        </address>
      </div>
      <br class="clear" />

      <div class="vcard">
        <div class="fn eduLeft">
          <strong class="org">State University Of New Paltz</strong>
        </div>
        <div class="eduMid title">B.S. Electrical Engineering</div>
        <address class="adr geo sright">
          <strong>
            <span class="locality">
              <abbr class="latitude" title='41.75'>New Paltz</abbr>
            </span>,
            <span class="region">
              <abbr class="longitude" title='-74.08'>NY</abbr>
            </span>
          </strong>
        </address>
      </div>
      <br class="clear" />

      <h2>Community Contributions</h2>
      <ul class="contrib">
        <li>Chairman of C++ &amp; Java SIG and IEEE chapter</li>
        <li>Lectures on C++, web development, security and administration</li>
        <li><i>Open Source:</i> Ubuntu Java installer, Linux distros, Apache Log4php</li>
      </ul>

      <h2>Other</h2>
      <p>Fluent in German &amp; French</p>
    </div>
    </ion-content>
</ion-view>
