<ion-view style="" title="JavaScript Code">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block " href="#/side-menu21/phpCode">Php</a>
            <a style="" class="button button-stable button-block " href="#/side-menu21/sourceCode">Github & Code</a>
        </div>
        <div style="">
            <p>Try my simple Vue.js quiz</p>
        </div>
        <a style="" class="button button-calm button-block" onclick="window.open('jsquiz/public', '_system', 'location=yes'); return false;" href="#">Vue.js quiz</a>

        <div style="">
            <p>Help yourself to this JavaScript code I wrote!</p>
        </div>
        <a style="" class="button button-calm button-block" onclick="window.open('http://www.premierpilatesandyoga.us/bruce/jasmine', '_system', 'location=yes'); return false;" href="#">Jasmine Test example</a>
        <a style="" class="button button-calm button-block" onclick="window.open('http://www.premierpilatesandyoga.us/bruce/jsonp.html', '_system', 'location=yes'); return false;" href="#">JSONP example</a>
        <a style="" class="button button-calm button-block" onclick="window.open('http://www.github.com/bingalls/weatherMaterial', '_system', 'location=yes'); return false;" href="#">Material Design demo</a>
        <a style="" class="button button-calm button-block" onclick="window.open('http://www.github.com/bingalls/jsquiz', '_system', 'location=yes'); return false;" href="#">Vue.js quiz</a>
        <a style="" class="button button-calm button-block " onclick="window.open('http://www.premierpilatesandyoga.us/bruce/psd/', '_system', 'location=yes'); return false;" href="#">PSD Conversion example</a>
    </ion-content>
</ion-view>