<ion-view style="" title="PHP Code">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block " href="#/side-menu21/jsCode">JavaScript</a>
            <a style="" class="button  button-block " href="#/side-menu21/sourceCode">Github & Code</a>
        </div>
        <div style="">
            <p>Some of my PHP code not on <a href="https://github.com/bingalls" target="_blank">GitHub</a> </p>
        </div>
        <a style="" class="button button-royal button-block " onclick="window.open('http://logging.apache.org/log4php/', '_system', 'location=yes'); return false;" href="#">Apache Log4php</a>
    </ion-content>
</ion-view>