<ion-view style="" title="Portfolio">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h1 style="">Material Design</h1>
        <ion-list style="">
            <ion-item style="" onclick="window.open('http://premierpilatesandyoga.us/bruce/weather/', '_system', 'location=yes'); return false;" href="#">Demo</ion-item>
            <ion-item style="" onclick="window.open('http://www.github.com/bingalls/weatherMaterial', '_system', 'location=yes'); return false;" href="#">Source code</ion-item>
        </ion-list>
        <h1 style="">Samples</h1>
        <ion-list style="">
            <ion-item style="" onclick="window.open('http://www.consumerReports.org/', '_system', 'location=yes'); return false;" href="#" class="item-thumbnail-left">
                <img src="img/cr150.jpg">
                <h2>Consumer Reports</h2>
                <p>www.consumerReports.org</p>
            </ion-item>
            <ion-item style="" onclick="window.open('http://www.delivery.com/', '_system', 'location=yes'); return false;" href="#" class="item-thumbnail-left">
                <img src="img/L1nCu6SLSK2YLzc8BThG_deliveryMin.jpg">
                <h2>Delivery.com</h2>
                <p>www.delivery.com</p>
            </ion-item>
            <ion-item style="" onclick="window.open('http://www.helixSleep.com/', '_system', 'location=yes'); return
            false;" href="#" class="item-thumbnail-left">
                <img src="img/helix150.jpg">
                <h2>Helix Sleep</h2>
                <p>www.helixSleep.com</p>
            </ion-item>
            <ion-item style="" onclick="window.open('http://premierpilatesandyoga.us/', '_system', 'location=yes'); return false;" href="#" class="item-thumbnail-left">
                <img src="img/RWWSE4T6S0y3Dv71vrSf_pilatesMin.jpg">
                <h2>Premier Pilates &amp; Yoga</h2>
                <p>premierpilatesandyoga.us</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>