<!--suppress HtmlUnknownTarget, HtmlUnknownAttribute -->
<ion-view title="New York PHP JavaScript Résumé">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div>
            <p style="color: #22A; margin: 0 0 0 1.5rem;">&nwarr; <small>github code & portfolio in hamburger menu</small></p>
            <img style="float:left; max-width:25%; height: auto;"
                 src="img/KV2fvOOcSYW979hS0c9H_nicubunu-Comic-characters-Operator.svg" height="auto" width="50%">
        </div>
        <ion-list></ion-list>
        <div style="float:left">
            <h3 style="">PHP &amp; JavaScript Skill Summary</h3>
            <table>
                <tr>
                    <td style="padding:0 0.5rem 0 0;"><strong>Languages</strong></td>
                    <td style="padding:0 0 0.3rem 0;">C++ / C#, Java, JavaScript, PHP, Sass, TypeScript</td>
                </tr>
                <tr>
                    <td style="padding:0 0.5rem 0 0;"><strong>API</strong></td>
                    <td style="padding:0 0 0.3rem 0;">GrahphQL, ReST web services: create & call</td>
                </tr>
                <tr>
                    <td style="padding:0 0.5rem 0 0;"><strong>Database</strong></td>
                    <td style="padding:0 0 0.3rem 0;">MySQL, (Mongo, Postgres, etc). DBA: tune, design, ETL</td>
                </tr>
                <tr>
                    <td style="padding:0 0.5rem 0 0;"><strong>Dev Ops</strong></td>
                    <td style="padding:0 0 0.3rem 0;">Ansible, AWS, Docker, Git, Redis, Vagrant</td>
                </tr>
                <tr>
                    <td style="padding:0 0.5rem 0 0;"><strong>JavaScript</strong></td>
                    <td style="padding:0 0 0.3rem 0;">Angular / Ionic, jQuery, Meteor, Node.js, React, Vue</td>
                </tr>
                <tr>
                    <td style="padding:0 0.5rem 0 0;"><strong>Web</strong></td>
                    <td style="padding:0 0 0.3rem 0;">Apache, Laravel, Nginx, PHP 7</td>
                </tr>
            </table>
        </div>
        <div style="clear:both;"><br /></div>
        <ion-list>
            <ion-item href="#/side-menu21/bruceIngalls" class="item-thumbnail-left">
                <img src="img/2U0pYcyrSjmWfaUCSByt_Globe2.svg">
                <h2>HTML R&eacute;sum&eacute;</h2>
                <p>Ideal for web</p>
            </ion-item>
            <ion-item onclick="window.open('http://www.premierpilatesandyoga.us/bruce/BruceIngalls.pdf', '_system', 'location=yes'); return false;" href="#" class="item-thumbnail-left">
                <img src="img/upaxTEJLQReD7zk5xkka_file-icon-pdf.svg">
                <h2>PDF R&eacute;sum&eacute;</h2>
                <p>Ideal for printing</p>
            </ion-item>
            <ion-item onclick="window.open('http://www.premierpilatesandyoga.us/bruce/BruceIngalls.odt', '_system', 'location=yes'); return false;" href="#" class="item-thumbnail-left">
                <img src="img/E9Oqz8eUTiWwWrPnnrz7_primary-openoffice.svg">
                <h2>Open Office R&eacute;sum&eacute;</h2>
                <p>Libre Office &amp; Open Office</p>
            </ion-item>
            <ion-item href="#/side-menu21/text" class="item-thumbnail-left">
                <img src="img/BCCxLuxQTdGGuadQOpYy_Text-Page-Icon.svg">
                <h2>Text R&eacute;sum&eacute;</h2>
                <p>Plain text format</p>
            </ion-item>
            <ion-item onclick="window.open('http://www.premierpilatesandyoga.us/bruce/BruceIngalls.epub', '_system', 'location=yes'); return false;" href="#" class="item-thumbnail-left">
                <img src="img/Ogzo8IfGRvyg663fGsM6_EPUB_logo.svg">
                <h2>ePUB R&eacute;sum&eacute;</h2>
                <p>Ebook for offline tablets</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>