<ion-view style="" title="Source Code">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block " href="#/side-menu21/phpCode">PHP</a>
            <a style="" class="button button-stable button-block " href="#/side-menu21/jsCode">JavaScript</a>
        </div>
        <div style="">
            <p>Help yourself to this code I wrote, in various languages</p>
        </div>
        <a style="" class="button button-positive button-block " onclick="window.open('http://emacro.sourceforge.net/', '_system', 'location=yes'); return false;" href="#">EMacro</a>
        <a style="" class="button button-positive button-block " onclick="window.open('http://github.com/bingalls/', '_system', 'location=yes'); return false;" href="#">Git Hub</a>
        <a style="" class="button button-positive button-block " onclick="window.open('http://www.premierpilatesandyoga.us/bruce/pos.tar.bz2', '_system', 'location=yes'); return false;" href="#">Point Of Sale</a>
        <a style="" class="button button-positive button-block " onclick="window.open('https://launchpad.net/~webupd8team/+archive/java', '_system', 'location=yes'); return false;" href="#">Ubuntu Java Package</a>
    </ion-content>
</ion-view>