<ion-view style="" title="Text">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <pre>
   Bruce Ingalls    New York, NY

   PHP & JavaScript programmer of 10+ years
   bruce.ingalls(at)gmail.com
   http://premierpilatesandyoga.us/bruce/

   Languages   C++, C#, Java, JavaScript, Perl, PHP, Sass, TypeScript
   API         author of GrahphQL & ReST APIs
   AWS         Aurora, Cloudfront, DynamoDB, EC2, RDS, S3
   Database    DBA & ETL of MySQL & other SQL. Mongo, Redis
   Dev Ops     Ansible, Docker, Git, Nginx, Redis, Vagrant
   JavaScript  Angular/Ionic, jQuery, Meteor, Node.js, React, Vue
   Web         Apache. Laravel, Nginx, PHP 7

Accomplishments

   Architecture  Reactive Single Page App, scaled for updates within seconds
   Back End      Performance optimization & multi-layer caching
   Front End     Mobile-first Ionic over ReST API. CSS framework alpha adopter
   Open Source   Created JDK installer for Ubuntu, more

Experience

    Exenta              New York, NY       2019
       Developer: PLM Product Lifecycle Management

        Environment   Laravel PHP 7, Bootstrap, Docker

        Experience
              Exenta brought me on, to communicate between our onsite
              product manager and our remote consultants.
              I helped triple testing speeds, keeping delivery cycles
              faster than other departments.


    Consulting          New York, NY       6 years 2012 - 2018

     Helix              Laravel PHP 7, Vue JS, CasperJS
       This online mattress store needed reliability. As a senior lead, I
       introduced git-flow, staging & pull requests.
       I overcame the challenge of lack of unit testability, by creating
       static analysis & e2e tests.

     Consumer Reports   Laravel PHP, React JS, TypeScript
       For the second biggest magazine in the USA, I helped lead developers &
       coordinate with devops to deliver a fresh UX, maximizing reliability &
       performance. Environments were deployed with Vagrant & Ansible.
       Reliablity introduced TypeScript safety, Phpunit mocks, and Bamboo
       Continuous Integration.
       Performance introduced Webpack, React JS & enterprise Varnish & Redis caching.

     Purveyor           Angular, Ionic mobile framework & PHP Laravel / ReST
       Purveyor was kicking off a new market with a friendly mobile site,
       before PWA became a buzzword.
       Work in evolving tech of Ionic, JWT, CORS & OAuth made this possible.
       Set up Redmine project tracking.

     Play Sports Live   Nginx, MeteorJS & MongoDB
       Play Sports needed a clean UX for gamers on a tight schedule, and at scale.
       Choosing new MeteorJS tech with a Nginx reverse proxy & servers that
       launch in seconds made this happen.

     Pearson Publishing Linux, Apache, MySQL, PHP, MooTools, Git
       This M&A financial Document Management System needed communication
       onsite, to connect remote consultants.
       Beyond soft skills, tech like Jenkins CI provided visibility to
       management. Introduced performance tuning.


    Cantor Fitzgerald       New York, NY       2 years 2009 - 2011
       Developer: E-commerce website

        Environment   LAMP, Native PHP jQuery, Web Services

        Experience
              The challenge to modernize 10 year old code for online
              food deliveries started with MVC design patterns.
              Before Bootstrap existed, I innovated a CSS framework,
              nearly predicting a responsive redesign.
              Database optimization & Kcachegrind performance. Added
              ReST APIs: Authorize.net, StrikeIron, Noaa weather.

    Adotube                 New York, NY       1 year 2008
       Consultant: Web video advertising

        Environment   Linux, Apache, MySQL, PHP, PhpUnit

        Experience
              Adotube's need for growth was met with integrating ReST
              APIs like Shopping.com and Amazon AWS & S3.
              Embedded Adobe Flash advertising into the new web video market.

Education
   Rochester Institute Of Technology   Computer Science   Rochester, NY

   State University Of New Paltz  B.S. Electrical Engineering  New Paltz , NY

Community Contributions
   * Chairman of C++ & Java SIG and IEEE chapter
   * Lectures on C++, web development, security and administration
   * Open Source: Ubuntu Java installer, Linux distros, Apache Log4php

Other
   Fluent in German & French
        </pre>
    </ion-content>
</ion-view>